body {
    background-color: #fff;
}

.container {
    max-width: 960px;
  }

.banner {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form_contato {
  background-color: cyan;
  margin: 0 auto;
  padding: 5%;;
}

.bloco_header h1 {
  color: #fff;
}

.bloco_header p {
  color: #fff;
}

.bloco_header {
    border-radius: 5%;
}

.menu {
  width: 100%;
}

.menu a {
  color: #000;
}

.bloco_header .btn.btn-outline-primary {
  border: 1px #fff solid;
  color: #fff;
}

  /*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }


.img-logo {
    width: 24px;
}

.site-header {
    background-color: #fff;
}

.listar {
    list-style: none;
}

.listar .listarItem {
    padding: 20px;
    display: inline;
}

.listar .listarItem a {
    font-size: 20px;
    color: #fff;
}

@media (max-width: 768px) {
  .redes-sociais a {
    display: none;
  }

  .menu a {
    text-align: center;
    border-bottom: 1px #ddd solid;
    display: none;
  }

  .banner {
    position: absolute;
    background-image: url(../img/banner_mobile.jpg);
    z-index: -1;
  }

  .bloco_header  h1 {
    color: #444;
    text-shadow: 1px 1px 1px #fff;
  }

  .bloco_header  p {
    color: #444;
    text-shadow: 1px 1px 1px #fff;
  }

  .bloco_header .btn.btn-outline-primary {
    background-color: #444;
    color: #fff;
    border-bottom: 1px #444 solid;
  }

}